<div class="row">

    <div class="container">
        <div class="row">
            <div class="col-md-11 col-md-push-1">
                <h2>Build models</h2>
            </div>
            <div class="col-md-11 col-md-push-1">
                <h3>Step 1: Choosing your way of action</h3>
                <br>
                <p>You can choose either to create or filter through your own collections before creating the model or
                    simply jump into the model's creation step.</p>
                <a href="#/collections" class="btn btn-default button-link">
                    Manage your collections
                </a>
                <a href="#/build_phase_2" class="btn btn-primary button-link">
                    Create a new model based on existing collections
                </a>
            </div>
        </div>
    </div>
</div>
